<?xml version="1.0"?>

<!-- 
    Eine vollständige Liste der Einstellungen und Kommentare ist in der 
    Datei 'machine.config.comments' zu finden, die sich normalerweise in 
    '\Windows\Microsoft.Net\Framework\v2.x\Config' befindet. 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings/>
    <connectionStrings/>
    <system.web>

        <!-- 
            Legen Sie compilation debug="true" fest, damit Debugsymbole 
            in die kompilierte Seite eingefügt werden. Da sich diese 
            Einstellung auf die Leistung auswirkt, sollten Sie diesen Wert nur 
            während des Entwickelns auf "true" festlegen.
        -->
        <compilation debug="false"/>

        <!--
            Der Abschnitt <authentication> ermöglicht das Konfigurieren des Modus 
            der Sicherheitsauthentifizierung, der von ASP.NET dazu 
            verwendet wird, einen eingehenden Benutzer zu identifizieren. 
        -->
        <authentication mode="Windows"/>

        <!--
            Im Abschnitt <customErrors> kann konfiguriert werden, wie 
            reagiert werden soll, wenn während des Ausführens einer Anforderung 
            ein unbehandelter Fehler auftritt. Insbesondere können 
            Entwickler hier HTML-Fehlerseiten konfigurieren, die anstelle 
            einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    </system.web>
</configuration>
